.navbar {
    width: 100%;
    height: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background: #ffffff;
}

.navbar-active {
    box-shadow: none;
    background: #ffffff;
    box-shadow: 0px 2px 0px 0px rgba(223, 223, 223, 0.9);  
}

.nav-list {
    position: absolute;
    left: 100%;
    top: 50px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    margin: 0 0 0;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 0px 0px rgba(223, 62, 62, 0.9);  
    transition: left .2s;
}

.nav-list-active {
    left: 0;
}

.nav-item {
    width: 100%;
    height: 35px;
    margin: 5px 0 0 0;
    text-align: center;
}

.nav-link::after {
    display: none;
}

.logo-menu {
    margin: 0 0 0 10px;
}

.logos {
    margin-left: 30px;
}

.logo {
    width: 25px;
}

.logo-escrita {
    font-size: 15px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    z-index: 1;
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    margin: 0px 0 30px 0;
    height: 60vh;
}

.texto-header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

.container-header {
    flex-direction: column;
    justify-content: center;
}

.titulo-header {
    font-size: 20px;
    height: 28px;
    width: 245px;
}

.titulo-header::before {
    width: 75px;
}

.titulo-header::after {
    top: 100%;
    right: 15px;
    width: 75px;
}

.titulo-header:hover::before {
    left: 0;
    z-index: unset;
}

.titulo-header:hover::after {
    right: 15px;
}

.descricao-header {
    font-size: 13px;
    font-weight: 500;
    text-align: justify;
    width: 90%;
    margin: 20px 0 0 0;
}

.img-header {
    position: unset;
    width: 100%;
    margin: 30px 0 0 0;
 }

.veja-mais {
    display: none;
 }

#oQueE {
    padding: 20px 0 0 0;
    height: 900px; 
 }

@media (max-width: 320px) {
    #oQueE {
        height: 1450px;
    }
}

.titulo-oqe, 
.titulo-sintomas,
.titulo-diag,
.titulo-tratamento,
.titulo-prevencao {
    font-size: 18px;
    margin: 0;
 }

.container-oqe {
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

.oqe-giardiase,
.oqe-amebiase {
    width: 100%;
    height: 40%;
    margin: 0 0 30px 0;
}

.oqe-amebiase {
    height: 45%;
}

.titulo-oqe::after {
    width: 30px;
}

.texto-oqe-giardiase,
.texto-oqe-amebiase {
    width: 100%;
}

.titulo-texto-oqe {
    font-size: 16px;
}

.descricao-oqe {
    width: 90%;
    font-size: 14px;
}

.img-agente {
    width: 90%;
    height: 150px;
    bottom: 5%;
    margin: 30px 0 0 0;
}

.desc-img-oqe {
    display: none;
}

#sintomas {
    margin: 30px 0 0 0;
    padding: 20px 0 0 0;
    width: 100%;
    height: 1100px;
}

.textos-sintomas {
    width: 100%;
}

.conteudo-sintomas {
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.img-sintomas {
    height: unset;
    width: 90%;
    margin: 0;
}

.descricao-sintomas {
    position: relative;
    font-size: 14px;
    width: 90%;
    margin: 10px 0 20px 0;
}

.container-sintomas-list {
    flex-direction: column;
}

.sintomas-list {
    position: relative;

    list-style-type: disc;
    padding: 0 0 0 5%;
}

.sintomas-item {
    font-size: 14px;
}

.sintomas-item::before {
    display: none;
}

.list-direita {
    margin: 0;
}

.titulo-sintomas-list {
    font-size: 16px;
}

#diagnostico {
    height: 1100px;
    margin: 30px 0 0 0;
    padding: 20px 0 0 0;
}

.container-diag {
    flex-direction: column;
}

.textos-diag {
    width: 100%;
    position: relative;
}

.img-diag {
    width: 90%;
}

.desc-diag {
    width: 90%;
    font-size: 14px;
}

.subtitulo-diag {
    font-size: 15px;
}

#tratamento, #prevencao {
    padding-top: 30px;
    height: 600px;
}

.container-tratamento {
    flex-direction: column;
}

.img-tratamento {
    width: 90%;
}

.desc-tratamento, .desc-prevencao {
    width: 90%;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.img-prevencao {
    width: 90%;
}

#footer {
    margin: 0 0 0 0;
}
